#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_GolfCoind += debian/examples/*
DEB_INSTALL_MANPAGES_GolfCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix GolfCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f GolfCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake GolfCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/GolfCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/GolfCoind
binary-post-install/GolfCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/GolfCoin-qt
